[submodule "newton/examples/assets/experimental-hydroelastic-assets"]
	path = newton/examples/assets/experimental-hydroelastic-assets
	url = git@github.com:MiguelZamoraM/experimental-hydroelastic-assets.git
